@import 'base/variables';

body,
body * {
    margin:          unset;
    box-sizing:      unset;
    padding:         unset; 
    color:           unset;
    text-decoration: unset;
}

body{ 
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    background: var(--belize-hole);
    width: 100%;
    height: 100vh;
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clock{
    position: relative;
    width: 15rem;
    height: 15rem;
    // border: 2px solid #fff;
    border-radius: 50%;
    //padding: 2rem;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    .min-container{
        position: relative;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        transform-origin: 50%;
        transform: rotate(-6deg);
        //border: 1px solid rgba(0,0,0,0.3);
        overflow: hidden;
         .minute{
           width: 100%;
           position: absolute;
           top: 0;
           left: 0;
           right: 0;
           bottom: 0;
           height: 2px;
           margin: auto;
           background: linear-gradient(to right, #fff 2.5%, transparent 0%);
           transform-origin: 50%;
           z-index: 5;
         }
       }
    .clockhands{
        position: absolute;
        width: 92.5%;
        height: 92.5%;
        border-radius: 50%;
        z-index: 10;
        .clock-hand{
          width: 50%;
          //border: 1px solid rgba(0,0,0,0.2);
          position: absolute;
          top: 50%;
          transform-origin: 100%;
        }
      }
}


.clock-hand:first-child{
    transform: rotate(90deg);
}
.clock-hand:nth-child(2){
    transform: rotate(30deg);
}
.clock-hand:last-child{
transform: rotate(60deg);
}

.hr{
    background: linear-gradient(to left, #fff 70%, transparent 30%);
    height: 8px;
}

.hr::before{
    position: absolute;
    content: '';
    left: 30%;
    width: 10px;
    height: 20px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin: auto;
    display: block;
    background: #fff;
    top: 50%;
    transform: translateY(-50%);
}

.min{
    background: linear-gradient(to left, #fff 96%, transparent 10%);
    height: 4px;
}

.min::before{
    position: absolute;
    content: '';
    left: 5%;
    width: 7px;
    height: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin: auto;
    display: block;
    background: #fff;
    top: 50%;
    transform: translateY(-50%);
}

.sec{
    background: linear-gradient(to left, #fff 96%, transparent 4%);
    height: 1px;
}

.sec::before{
    position: absolute;
    content: '';
    left: 5%;
    width: 3px;
    height: 6px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin: auto;
    display: block;
    background: #fff;
    top: 50%;
    transform: translateY(-50%);
}
  
  
  @for $i from 1 through 60{
    .minute:nth-child(#{$i}){
      
      transform: rotate($i * 6deg);
    }
  }
  
  .big{
    background: linear-gradient(to right, #fff 5%, transparent 0%) !important;
    height: 4px !important;
  }